


.fallen img{
                width: 200px;
}

.fallen{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 3em;
}